---
name: Tests - msgraph
on:
  pull_request:
    types: ["opened", "synchronize"]
    paths:
      - "msgraph/**.go"
      - ".github/workflows/msgraph-tests.yml"

jobs:
  test-msgraph:
    runs-on: self-hosted
    strategy:
      fail-fast: true
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17.6

      - name: Checkout
        uses: actions/checkout@v2

      - name: Test
        run: go test -count=1 -race -v ./msgraph

# vim: set ts=2 sts=2 sw=2 et:
