---
name: Tests - odata
on:
  pull_request:
    types: ["opened", "synchronize"]
    paths:
      - "odata/**.go"
      - ".github/workflows/odata-tests.yml"

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16.4

      - name: Checkout
        uses: actions/checkout@v2

      - name: Test
        run: go test --race -v ./odata

# vim: set ts=2 sts=2 sw=2 et:
