---
name: Scheduled cleanup
on:
  schedule:
    - cron: "58 * * * *"

jobs:
  cleanup:
    runs-on: self-hosted
    strategy:
      fail-fast: true
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17.6

      - name: Checkout
        uses: actions/checkout@v2

      - name: Vacuum brrrrr
        run: go run ./internal/cmd/test-cleanup

# vim: set ts=2 sts=2 sw=2 et:
